@model List<C1D1_DaoTrongHoan_2021606290.Models.ThiSinh>

@{
    ViewBag.Title = "ThiSinhList";
}

<h2>Danh sách thí sinh</h2>

<table class="table">
    <thead>
        <tr>
            <th>SBD</th>
            <th>Họ tên</th>
            <th>Điểm Toán</th>
            <th>Điểm Văn</th>
            <th>Tổng Điểm</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var thiSinh in Model)
        {
            <tr>
                <td>@thiSinh.sbd</td>
                <td>@thiSinh.hoten</td>
                <td>@thiSinh.diemtoan</td>
                <td>@thiSinh.diemvan</td>
                <td>@thiSinh.TongDiem</td>
            </tr>
        }
    </tbody>
</table>
